@{
    ViewBag.Title = "Home Page";
}
<div class="bg-white">
    <aside id="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12 breadcrumbs text-center">
                    <h2>Bug Tracker Application </h2>
                    <p>
                     <span>Home</span>
                    </p>
                </div>
            </div>
        </div>
    </aside>
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <p>
                                    A software bug is an error, flaw, failure or fault in a computer program or system that causes it to produce an incorrect or unexpected result,
                                    or to behave in unintended ways.
                                    The process of fixing bugs is termed "debugging" and often uses formal techniques or tools to pinpoint bugs, and since the 1950s,
                                    some computer systems have been designed to also deter, detect or auto-correct various computer bugs during operations.

                                    Most bugs arise from mistakes and errors made in either a program's source code or its design,
                                    or in components and operating systems used by such programs. A few are caused by compilers producing incorrect code.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <img class="img-responsive" height="200" width="300" src="https://msr7.net/images/animated-bug-16.gif" alt="" />
                            </div> 
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <blockquote>
                                    Debugging is the process of finding and resolving defects or problems within a
                                    computer program that prevent correct operation of computer software or a system.
                                </blockquote>
                            </div>
                            <div class="col-md-6">
                                <blockquote>
                                    Debugging tactics can involve interactive debugging, control flow analysis, unit testing, integration testing,
                                    log file analysis, monitoring at the application or system level, memory dumps, and profiling.
                                </blockquote>
                            </div>
                            </div>
                        </div>
</form>
                <span>Source © Wikipedia </span>
</div>
        </div>
    </div>
</div>
