@model FinalBugTracker.Models.ProjectAssignViewModel

@{
    ViewBag.Title = "AssignUsers";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(p => p.Id)
            @Html.ListBoxFor(p => p.SelectedUsers, Model.UserList)
            <input type="submit" value="Submit!" />
        }
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->