@model FinalBugTracker.Models.UserRoleViewModel

@{
    ViewBag.Title = "ChangeRole";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Users
            <small>change user roles here</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">User Roles</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <p>
            User: @Model.Name
        </p>
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(p => p.Id)
            @Html.ListBoxFor(p => p.SelectedRoles, Model.Roles)
            <input type="submit" value="Submit!" />
        }
    </section>
    <!-- /.content -->
</div>